@import "../../../styles.scss";

.navbar {
  background-color: var(--body-background-color);
  border-bottom: 1px solid var(--border-color);
  height: 76px;
  display: block;

  .mat-icon {
    color: var(--icon-color);
  }

  &-item {
    img {
      max-height: 2rem;
      max-width: 4rem;
    }
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    color: var(--icon-color) !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    color: var(--icon-color) !important;
  }
}

.menu {
margin-top: 4%;
  position: inherit;
  height: 100%;
  background: var(--body-background-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  overflow: hidden;

  &-list {
    width: 100%;
    margin-left: 18px;

    hr {
      background-color: var(--border-color);
      height: 2px;
      margin: 0;
    }

    li {
      padding: 6px 10px;
      display: flex;

      &:hover {
        background: var(--hover-color);
      }

      &a:hover {
        background: var(--hover-color);
      }

      .mat-icon {
        color: var(--icon-color);
        width: 24px;
        height: 24px;
      }

      p {
        color: var(--text-color);
      }
    }
    .mat-expansion-panel {
      padding-left:15px;
      background: var(--body-background-color);
      box-shadow: none;
      direction: rtl;

      &-header {
        padding: 0;
        &-title {
          margin-right: 36%;
          color: var(--text-color);
        }
        &:hover {
          background: var(--body-background-color);
        }
      }
      &:hover {
        background: var(--body-background-color);
      }
    .list{
      display: flex;
      direction: ltr;
      margin-left: -22%;
      color: var(--icon-color);
    }
    }


    .mat-expansion-indicator::after {
      color: rgb(255 255 255) !important;
    }
  }

  &-open {
    width: 200px;
    transition: 0.2s;
  }

  &-close {
    width: 0px;
    transition: 0.2s;
  }
}
