
  <article class="media">
 <figure class="media-left">
   <a (click)="channelProfile(channel[0].id)"><p class="image is-64x64">
     <img src="{{channel[0].snippet.thumbnails.high.url}}">
   </p></a>
 </figure>
 <div class="media-content">
   <div class="content">
     <p>
       <a (click)="channelProfile(channel[0].id)"> <strong>{{channel[0].snippet.title}}</strong> </a><br><small>{{statistics.subscriberCount | shortNumber}} subscribers</small>
       <br>
     </p>
   </div>
 </div>
</article>
