@import "../../../styles.scss";

.column{
  margin-top:10px;
  width: 15rem;
  .card{
    height:20rem;
    width: 15rem;
    background:var(--body-background-color);
    color:var(--title);
    &-image{
      height: 50%;
    }
    &-content{
      padding-top: 2.5rem;
      .media{
        padding-bottom: -10px !important;
      }
    }
    .title.is-6{
      color: var(--title);
      margin-top: 14%;
      font-size: 12px;
    }
    .content{
      margin-top: -14px
    }
  }
}
