@import "../../../styles.scss";

.column{
  margin-top:10px;
  width: 14rem;
  .card{
    height:16rem;
    width: 15rem;
    background:var(--body-background-color);
    color:var(--title);
    &-image{
      height: 50%;
    }
    &-content{
      padding-top: 0rem;
      padding: 0.5rem !important;
      .media{
        margin: 1.3rem 0rem !important;
      }
    }
    .title.is-6{
      color: var(--title);
      margin-top: 0%;
      font-size: 12px;
    }
    .content{
      margin-top: -19px
    }
    .image.is-48x48{
      height: 21px;
      width: 28px;
      img{
        border-radius: 50px;
      }
    }
  }
  .content-video{
    padding-top:-5px !important;
    color:#aaa;
    font-size: 11px;
  }
}
