@import "../../../../styles.scss";

.card {
  background-color: var(--body-background-color);
  box-shadow: none;

  .card-content {
    background-color: var(--body-background-color);

    .media {
      .media-left {
        width: 34%;

        .image img {
          display: block;
          height: 141%;
          width: 100%;
        }

        .image.is-48x48 {
          height: 83px;
          width: 161px;
        }
      }

      .subtitle.is-5 {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        color: var(--subtitie);
      }

      .subtitle.is-6 {
          font-size: 0.9rem;
        margin-bottom: 0.6rem;
      }
    }
  }
}
