@import "../../../styles.scss";

.video-player {
  margin-top: 5rem !important;
  iframe{
    width: 100%
  }
}
.column-title{
  padding-bottom: 0rem;
.subtitle{
  color: var(--title);
  font-weight:400;
}
}
.video-desc{
  padding-top: 0rem
}
