@import "../../../styles.scss";

.video-player {
  margin-top: 5rem !important;

  iframe {
    width: 100%;
  }
}

.column {
  .column-title {
    padding-bottom: 0;

    .subtitle {
      color: var(--subtitie);
      font-weight: 400;
    }
  }
}

.video-desc {
  padding-top: 18px;
  display: flex;
  margin-bottom: -4%;

  .icons {
    display: flex;
    width: 100%;
   button{
     background: transparent;
     border: none;
     cursor: pointer;
    }

    .icon {
      width: 100%;
      margin-top: 17px;

      .mat-icon {
        font-size: 25px;
        width: 26px;
        margin-top: 28%;
          color: var(--subtitie);
      }

      h1 {
        margin-top: 16%;
      }
    }
  }
}

.subtitle {
  color: var(--subtitie);
  font-weight: 400;
}

hr {
  background-color: var(--border-color);
  border: none;
  display: block;
  height: 0.2px;
  margin: 0.5rem 0 0.5rem 4%;
  width: 100%;
}

.mat-expansion-panel {
  box-shadow: none !important;
  background: var(--body-background-color);
  color: var(--title);

  &:hover {
    background: var(--body-background-color);
  }

  .mat-expansion-panel-header-title {
    color: var(--border-color);
  }
}
