<div class="columns">
  <div class="column is-three-quarters mt-5">
    <youtube-player videoId="{{this.video}}" [width]="width" [height]="450" class="video-player ml-5 mt-6"></youtube-player>
    <div *ngFor="let d of videoDetail">
      <div class="column  ml-5 is-full column-title">
        <h1 class="subtitle is-4">{{d.snippet.title}}</h1>
      </div>
     <div class="columns">
      <div class="column  ml-5 is-half video-desc">
        <h1 class="subtitle is-6">{{d.snippet.publishedAt |  timeago }}</h1>
      </div>
      <div class="column  ml-5 is-half video-desc">
        <h1 class="subtitle is-6"></h1>
      </div>

     </div>
     <hr>
     <div class="ml-5 is-full">
       <app-channel [channel]="channel" [statistics]="channelStatistics"></app-channel>

       <br>
       <mat-accordion>
         <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
             <mat-panel-title>
             Show more
             </mat-panel-title>
             <mat-panel-description>

             </mat-panel-description>
           </mat-expansion-panel-header>
           <p>{{d.snippet.description}}</p>
         </mat-expansion-panel>
       </mat-accordion>
       <br>
     </div>
     <hr>
     <br>
     <div class="ml-5 is-full">
         <!-- <h1 class="subtitle is-4">{{ d.snippet.localized.description }}</h1> -->
         <app-comments [comments]='videoComments'></app-comments>
     </div>
    </div>
  </div>
  <div class="column">Auto</div>
</div>
