/* You can add global styles to this file, and also import other style files */


$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
.dark-theme{
  --body-background-color:#212121;
  --text-background-color:white;
  --button-color:#212121;
  --box-color:#212121;
  --border-color:#383838;
  --input-background:#121212;
  --icon-color:#fff;
  --text-color:#fff;
  --hover-color:#3d3d3c;
  --title:#fff;
  --main-background-color:#181818;
}
.light-theme{
  --body-background-color:white;
  --text-background-color:black;
  --button-color:white;
  --box-color:white;
  --border-color:lightgrey;
  --input-background:white;
  --icon-color:#030303;
  --text-color:#030303;
  --hover-color:#e8e8e8;
  --title:black;
  --main-background-color:#f9f9f9;
}

html, body { height: 100%; background-color: var(--main-background-color)!important}
body { margin: 0;
   font-family: Roboto,
    "Helvetica Neue",
     sans-serif; }
     .input, .textarea, .select select{
       background:  var(--input-background);
       border-color: var(--border-color)
     }
     .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
       color:var(--icon-color) !important;
     }
     .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
       color:var(--icon-color) !important;
     }
